@model List<project1LA.Models.DTO.UserDTO>
@{
    ViewBag.Title = "Index";
}

@if (Session["role"].ToString() == "ADMIN")
{

    <h2>List User</h2>
    <br />

    <div class="success-message">
        @TempData["creado"]
    </div>
    <div class="success-message">
        @TempData["eliminado"]
    </div>
    <div class="success-message">
        @TempData["actualizado"]
    </div>

    <br />
    <br />

    <a href="@Url.Action("Create","User")">Create</a>

    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td> @user.Id</td>
                    <td> @user.Name</td>
                    <td> @user.Email</td>
                    <td><a href="@Url.Action("EditForm","User", new { id = user.Id})">Edit</a></td>
                    <td><a href="@Url.Action("Delete","User", new { id = user.Id})">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

}
else
{

    //tengo que crear el nuevo role en la tabla de roles y en el roleUsuario debo guardar el role y el usuario
<h1>    mal</h1>
}

